<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <link rel="stylesheet" href="static/custom.css">
        <link rel="stylesheet" href="static/bootstrap.min.css">
        <link rel="stylesheet" href="static/font-awesome.min.css">
        <link rel="stylesheet" href="static/aos.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
        <h1>Flex Bot</h1>
        <div>
            <div id="chatbox">
                <p class="botText"><span>Hi there! I am flex bot, I cannot promise 100% assistance. How can I help you today?
                </span></p>
            </div>
            <div id="userInput">
                <input id="textInput" type="text" name="msg" placeholder="Message">
                <input id="buttonInput" type="submit" class="btn my-4 font-weight cta-blue" value="Send">
                <a href="/chat"  data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true" class="btn my-4 font-weight-bold atlas-cta cta-blue">Chat again</a>
            </div>
            <script>
                function getBotResponse() {
                var rawText = $("#textInput").val();
                var userHtml = '<p class="userText"><span>' + rawText + '</span></p>';
                $("#textInput").val("");
                $("#chatbox").append(userHtml);
                document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
                $.get("/get", { msg: rawText }).done(function(data) {
                var botHtml = '<p class="botText"><span>' + data + '</span></p>';
                $("#chatbox").append(botHtml);
                document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
                });
                }
                $("#textInput").keypress(function(e) {
                if(e.which == 13) {
                getBotResponse();
                }
                });
                $("#buttonInput").click(function() {
                getBotResponse();
                })
            </script>
        </div>
    </body>
</html>