<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flex AI</title>
    <link rel="stylesheet" href="static/custom.css">
    <link rel="stylesheet" href="static/bootstrap.min.css">
    <link rel="stylesheet" href="static/font-awesome.min.css">
    <link rel="stylesheet" href="static/aos.css">
</head>

<body background-color="grey">
        <div class="container text-center text-md-left">
            <header>
            </header>
            <h1 data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true" class="display-3 text-black font-weight-bold my-5">
            	FLEX BOT<br>
            </h1>
            <p  data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true" class="lead text-black my-4">
                When we understand a little about how our minds work, we would not only build resilience, but we would thrive and grow.<br>
                                                                                        ~ Dr. Julie Smith
            </p>
            <a href="/chat"  data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true" class="btn my-4 font-weight-bold atlas-cta cta-blue">Chat with our chatbot</a>
        </div>
    </div>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <footer>
          <pre>                      &copy; Ogochukwu, Azeezat, Lekan, Ose and Toyosi</pre>
        </footer>
</body>

</html>